extends layout

block content
  .main-container
    .cloud-image
        img(src='../public/images/sandwich.svg')
    .content
        .content-body
            .success-text
                p Welcome!
            .description
                p JimmyMike's #{hello} Sandwich Shop - A freaky slow sub below.
