extends layout

block content
  .row
    .col-md-6
      form(method="POST", action="javascript:submitOrder()")
        .form-group
          label(for="name") Name:
          input(type="text", id="name", name="name", class="form-control", required)

        .form-group
          label(for="breadType") Bread Type:
          select(name="breadType", id="breadType" class="form-control", required)
            option(value="wheat") Wheat
            option(value="white") White

        .form-group
          label(for="toppings") Toppings:
          .checkbox
            input(type="checkbox", id="lettuceChk", name="toppings", value="lettuce")
            | Lettuce
          .checkbox
            input(type="checkbox", id="salamiChk", name="toppings", value="salami")
            | Salami
          .checkbox
            input(type="checkbox", id="tomatoesChk", name="toppings", value="tomatoes")
            | Tomatoes

        .form-group
          label(for="notes") Order Notes
          textarea(name="notes", id="notes", cols="30", rows="10", class="form-control")

        .form-group
          button(type="submit" class="btn btn-primary") Order Sandwich
