extends layout

block content
  .row
    .col-md-7
      h1 Order Submitted
      h3(id='confirmation-h3')

      p(id='confirmation-p')

      b Order Notes:
      textarea(name="notes", id='confirmation-notes' cols="30", rows="3", class="form-control", readonly)
